{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "inline-react-svg",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "components": "./components",
          "config": "./config"
        }
      }
    ]
  ]
}